.total__price{
    text-align: center;
    margin-top: 20px;
    font-family: cursive;
}
.cart{
    width: 100%;
    height: auto;
}
.the__biggest__cart{
    width: 90%;
    height: auto;
    display: grid;
    border-radius: 15px;
    box-shadow: 5px 5px 14px 3px #0004;
    grid-template-columns: repeat(3, 1fr);
    margin: 20px auto;
}
.img__part_inner{
    width: 100%;
    height: 150px;
    align-items: center;
    display: flex;
}
.img__part_inner img{
    width: 100%;
    height: 90%;
    object-fit: contain;
}
.inner__container_cart{
    width:100%;
    height: 150px;
}
.inner__first__part{
    width: 100%;
    height: 50%;
    display: grid;
    place-items: center;
}
.name__cart{
    text-align: center;
    font-size: 25px;
}
.price__cart{
    font-size: 20px;
    margin-top: 5px;
    color: dodgerblue;
}
.inner__sec__part{
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.dec{
    width: 30px;
    height: 30px;
    font-size: 20px;
}
.qty{
    font-size: 20px;
    margin: 0 20px;
}
.inc{
    width: 30px;
    height: 30px;
    font-size: 20px;
}
.buttons__container__cart{
    width: 100%;
    height: 150px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    justify-content: center;
    align-items: center;
}
.buy__cart{
    width: 130px;
    height: 35px;
    border: none;
    color: #fff;
    background: rgb(30, 184, 30);
    border-radius: 15px;
    transition: .3s;
}
.buy__cart:hover{
    border: 1px solid rgb(30, 184, 30);
    cursor: pointer;
    color: rgb(30, 184, 30);
    background: #fff;
}
.liked__ones{
    width: 130px;
    height: 35px;
    border: none;
    color: #fff;
    background: red;
    border-radius: 15px;
    transition: .3s;
}
.liked__ones svg{
    transform: translateY(2px);
}
.liked__ones:hover{
    border: 1px solid red;
    cursor: pointer;
    color: red;
    background: #fff;
}
.delete{
    width: 130px;
    height: 35px;
    border: none;
    color: #fff;
    background: black;
    border-radius: 15px;
    transition: .3s;
}
.delete:hover{
    border: 1px solid black;
    cursor: pointer;
    color: black;
    background: #fff;
}
.inputs__delivery{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    place-items: center;
    margin-top: 30px;
    grid-gap: 10px;
}
.name__delivery{
    width: 70%;
    height: 45px;
    border-radius: 15px;
    text-indent: 30px;
}
.phone__delivery{
    width: 70%;
    height: 45px;
    border-radius: 15px;
    text-indent: 30px;
}
.address__delivery{
    width: 70%;
    height: 45px;
    border-radius: 15px;
    text-indent: 30px;
}
.desc__delivery{
    border-radius: 15px;
    width: 70%;
    text-indent: 30px;
    padding-top: 10px;
}
.btn__delivery{
    width: 170px;
    height: 40px;
    display: block;
    margin: auto;
    margin-top: 10px;
    border: none;
    background: dodgerblue;
    transition: .3s;
    color: #fff;
    border-radius: 15px;
    margin-top: 20px;
}
.btn__delivery:hover{
    border: 1px solid dodgerblue;
    color: dodgerblue;
    background: #fff;
    cursor: pointer;
}







@media screen and (max-width: 666px) {
    .the__biggest__cart{
        grid-template-columns: 1fr;
        width: 70%;
    }
    .inputs__delivery{
        grid-template-columns: 1fr;
        grid-gap: 30px;
    }
}


@media screen and (max-width: 542px) {
    .the__biggest__cart{
        width: 90%;
    }
}